header {
    background-color: rgb(178,178,178);
    font-family: 'Times New Roman', Times, serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    font-size: 40px;
    display: flex; justify-content: center; align-items: center; height: 100px;
}

nav {
    background-color: rgb(24, 74, 72);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: larger;
}

article {
    background-color: rgb(253, 253, 185);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center; 
    
}


aside {
    background-color: rgb(65, 124, 122);
    padding-right: 30px;
}
footer {
    background-color: rgb(65, 124, 122);
    display: flex; justify-content: center; align-items: center; height: 100px;
    text-align: center;
}